link(rel='stylesheet', href='modules/clock/clock.css')

div(class='clock')
  div(class='center')
  div(class='hours', id='hourHand')
  div(class='minutes', id='minuteHand')
  script(src="modules/clock/clock.js")
