extends layout

block content
  div
    div(class='col-1')
      include ./includes/greeter.jade

    div(class='col-1')
    div(class='col-1')

    div(class='col-1')
      include ../public/modules/clock/clock.jade